# s3 access
STATIC_KEY_ID=...
STATIC_KEY_SECRET=...

# passcodes
PASSCODE=my_cool-passcode1234
LONG_TERM_PASSCODE=my_password_that_can_be_cached_on_the_client_for_auto-login_1234

# internal hashing keys
ENCRYPTION_KEY=8a...7
VAULT_SECRET_KEY=88...b