frontend/dist
node_modules
package-lock.json
trash
dist
.env
/*.js
/src/views/**/*
project.md
/storage/



# frontend/
# src/static/
# src/views/

# frontend/styles/
# src/static/
# src/infrastructure

# frontend/scripts/components
# frontend/scripts/core
# frontend/scripts/utils