@use '../../vars/colors.scss' as *;
@use '../../vars/easings.scss' as *;
@use '../../utils/box-spacing.scss' as *;
@use '../../utils/safe-area.scss' as *;

form#reveal {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem;

    .code-container {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;

        input[type="text"] {
            font-size: 1.125rem;
            background: $bg;
            width: 3rem;
            text-align: center;
        }
    }
}


main .form-wrapper.reveal-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include padding-safe(0px, 2.5rem, 0px, 2.5rem);
    padding-top: 0; // TODO: the best way would be to add the right padding only in the screen where there is no .background on the right
    box-sizing: border-box;

    .file-container-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $bg_dark;

        display: flex;
        flex-direction: column;

        opacity: 0;
        pointer-events: none;
        transition: opacity 1s $easeOutExpo;


        &.expanded {
            pointer-events: auto;
            opacity: 1;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            flex-shrink: 0;
            border-bottom: 1px solid $bg_light;
            padding: 1rem 2.5rem;
            // padding: 1rem;

            .right {
                display: inline-flex;
                align-items: baseline;
                gap: 1rem;
            }
        }
    }

    .file-container {
        display: grid;
        @include box-spacing(0, 32px);
        $gap: .2rem;
        gap: $gap;
        column-gap: $gap;
        row-gap: $gap;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: max-content;
        justify-content: center;

        width: 100%;
        flex-shrink: 1;
        padding: 1rem calc(2.5rem - 8px);

        overflow-y: auto;
        width: 100%;
        height: 100%;

        a {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            width: 100%;
            color: $text;
            text-decoration: none;
            overflow: hidden;
            gap: 0.5rem;
            transition: .1s;

            .name {
                display: flex;
                align-items: center;
                min-width: 0;
                flex: 1;

                &>span:last-child {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &>span.icon {
                    margin-right: 0.4rem;
                    flex-shrink: 0;
                }
            }

            .size {
                color: $muted;
                font-size: 0.85rem;
                white-space: nowrap;
                flex-shrink: 0;
            }

            &:hover {
                background: $text;
                color: $bg;
                border-radius: 4px;
                transition: 0s;

                .size {
                    color: inherit;
                }
            }
        }
    }
}