@use 'sass:color';
@use '../../vars/colors.scss' as *;

button.main {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background: $bg_light;
    border: 1px solid color.scale($muted, $alpha: -50%);
    color: $text;
    border-radius: 0.75rem;
    outline: 0;
    line-height: 100%;
    transition:
        transform .2s,
        border-color 0.2s ease,
        box-shadow 0.2s ease;

    &:not(:disabled):hover {
        border-color: color.scale($text, $alpha: -40%);
    }

    &:not(:disabled):active {
        transform: scale(.95);
        border-color: #fff !important;
        box-shadow: none !important;
        transition: 0s;
    }

    &:not(:disabled):focus {
        border-color: $purple;
        box-shadow: 0 0 0 4px color.scale($purple, $alpha: -80%);
    }

    &:disabled {
        cursor: not-allowed;
        border-color: color.scale($muted, $alpha: -80%);
        color: $muted !important;

        & * {
            color: $muted !important;
        }
    }
}