@use 'sass:color';
@use './vars/colors.scss' as *;
@use './vars/file-colors.scss' as *;
@use './vars/easings.scss' as *;

.scrollable {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: $bg_light;
    }

    &::-webkit-scrollbar-thumb {
        background: $muted;

        &:hover {
            background: $purple_light
        }
    }
}

body {

    *::selection {
        background: $purple_light;
        color: $bg
    }
}


form {
    h1 {
        font-size: 1.5rem;
        line-height: 120%;
        margin-bottom: .3rem;
    }

    h2 {
        color: $muted;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
    }

    small.error {
        display: block;
        color: $red;
        pointer-events: none;
        opacity: 0;
        padding: 0 3rem;
        width: 100%;
        text-align: center;
        transform: translateY(100%);
        transition:
            transform .2s $easeOutBack,
            opacity .2s;
    }

    &.error {
        small.error {
            pointer-events: all;
            transform: translateY(0%);
            opacity: 1;
        }

        .error_animation {
            animation: length_warning .4s 1;

            @keyframes length_warning {
                0% {
                    color: $red;
                    transform: translateX(-5px)
                }

                25% {
                    color: $red;
                    transform: translateX(5px)
                }

                50% {
                    color: $red;
                    transform: translateX(-2.5px)
                }

                75% {
                    color: $red;
                    transform: translateX(2.5px)
                }

                100% {
                    color: $red;
                    transform: translateX(0px)
                }
            }
        }
    }
}



button[data-wavy] {
    position: relative;
    overflow: hidden;

    .wave {
        position: absolute;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: ripple 0.7s linear;
        pointer-events: none;
    }

    @keyframes ripple {
        from {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0.4;
        }

        to {
            transform: translate(-50%, -50%) scale(30);
            opacity: 0;
        }
    }
}




button.main {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    background: $bg_light;
    border: 1px solid color.scale($muted, $alpha: -50%);
    color: $text;
    border-radius: 0.75rem;
    outline: 0;
    line-height: 100%;
    transition:
        transform .2s,
        border-color 0.2s ease,
        box-shadow 0.2s ease;

    &:not(:disabled):hover {
        border-color: color.scale($text, $alpha: -40%);
    }

    &:not(:disabled):active {
        transform: scale(.95);
        border-color: #fff !important;
        box-shadow: none !important;
        transition: 0s;
    }

    &:not(:disabled):focus {
        border-color: $purple;
        box-shadow: 0 0 0 4px color.scale($purple, $alpha: -80%);
    }

    // $accent: $bg_light;
    // border: 1px solid transparent;
    // background:
    //     linear-gradient(to bottom, $accent, color.adjust($accent, $lightness: 7.2%)) padding-box,
    //     linear-gradient(to bottom, color.adjust($accent, $lightness: 20.8%), color.adjust($accent, $lightness: 6.9%)) border-box;

    // box-shadow:
    //     0 2px 4px 0 rgba(#000000, 0.1),
    //     0 0 0 1px color.adjust($accent, $lightness: -7.5%);


    .progress-ring {
        --prog: 0deg;

        width: 1em;
        height: 1em;
        border-radius: 50%;
        flex-shrink: 0;

        background-image: conic-gradient(#38fc59 var(--prog), $muted var(--prog));

        -webkit-mask: radial-gradient(transparent 55%, #000 56%);
        mask: radial-gradient(transparent 55%, #000 56%);
    }

    &:disabled {
        cursor: not-allowed;
        border-color: color.scale($muted, $alpha: -80%);
        color: $muted !important;

        & * {
            color: $muted !important;
        }
    }
}


button[data-content-transition] {

    span.content-new,
    span.content-old {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        white-space: nowrap;
        vertical-align: middle;
        overflow: hidden;
    }

    span.content-new.is-hidden {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: max-content;
    }

    &.is-animating {
        span.content-old {
            transition:
                width 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                opacity 0.15s ease-out;
            opacity: 0;
        }
    }
}



input.main {
    padding: 1rem;
    text-align: left;
    background: $bg_light;
    outline: 0;
    border: 2px solid transparent;
    color: $text;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    transition:
        background-color .2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease;

    &:focus {
        border-color: $purple;
        box-shadow: 0 0 0 4px color.scale($purple, $alpha: -80%);
    }

    &:disabled {
        background-color: color.scale($muted, $alpha: -80%);
    }
}