@use 'sass:color';
@use './vars/colors.scss' as *;
@use './vars/easings.scss' as *;

@use './utils/box-spacing.scss' as *;
@use './utils/safe-area.scss' as *;

@use './base/ui/buttons.scss';
@use './base/ui/inputs.scss';
@use './base/ui/scroll.scss';

@use './base/layout.scss';
@use './base/forms.scss';
@use './base/forms/create.scss';
@use './base/forms/reveal.scss';
@use './base/forms/auth.scss';



@use './components/button-content-transition.scss';
@use './components/button-wavy.scss';
@use './components/progress-ring.scss';

@use './themes/file-colors.scss';



html {
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    * {
        box-sizing: border-box;
    }
}


body {
    background: $bg_dark;
    color: $text;
    padding: 0;
    margin: 0;
    overflow: hidden;

    *::selection {
        background: $purple_light;
        color: $bg
    }
}