// @mixin box-spacing($args...) {
//   margin: $args;

//   $t: nth($args, 1);
//   $r: $t;
//   $b: $t;
//   $l: $t;

//   @if length($args) > 1 { $r: nth($args, 2); $l: nth($args, 2); }
//   @if length($args) > 2 { $b: nth($args, 3); }
//   @if length($args) > 3 { $l: nth($args, 4); }

//   width: calc(100% - #{$l + $r});
//   height: calc(100% - #{$t + $b});
// }

@use "sass:list";

@mixin box-spacing($args...) {
    margin: $args;
    $count: list.length($args);

    $t: list.nth($args, 1);
    $r: if(sass($count > 1): list.nth($args, 2); else: $t);
    $b: if(sass($count > 2): list.nth($args, 3); else: $t);
    $l: if(sass($count > 3): list.nth($args, 4); else: $r);

    width: calc(100% - #{$l + $r});
    height: calc(100% - #{$t + $b});
}