@use "sass:list";

@mixin box-spacing($args...) {
    margin: $args;
    $count: list.length($args);

    $t: list.nth($args, 1);
    $r: if(sass($count > 1): list.nth($args, 2); else: $t);
    $b: if(sass($count > 2): list.nth($args, 3); else: $t);
    $l: if(sass($count > 3): list.nth($args, 4); else: $r);

    width: calc(100% - #{$l + $r});
    height: calc(100% - #{$t + $b});
}